<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='contact-us.css' ) }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <header>
        <h1 class="title">U Health</h1>
        <nav>
            <ul>
                <li><a href="homepage.html">Home</a></li>
                <li><a href="#gotoaboutus">About Us</a></li>
                <li><a href="services.html" >Services</a></li>
                <li><a href="specialists.html" >Specialists</a></li>
                <li><a href="contact-us.html" >Contact Us</a></li>
                <li><a href="get-started.html"><img src="{{ url_for('static', filename='register.png' ) }}" width="45px" height="45px"></a></li>
            </ul>
        </nav>
    </header>

    <div class="header2">
        <h1 class="contacttitle">Contact Us</h1>
    </div>

    <br>
    <div class="container">
        <img src="{{ url_for('static', filename='contact.jpg' ) }}" width="55%" height="660px">
        <div>
            <h1 class="h1contact" align="center">We'd Love To Hear From You</h1>
            <h3 class="h3contact" align="center">Drop us a line, or give us a heads up if you're interested in visiting us.</h3>
            <form onsubmit="sendEmail(); reset(); notification();">
                <input type="text" placeholder="First name" id="firstname">
                <input type="text" placeholder="Last name" id="lastname">
                <input type="email" placeholder="Email" id="email">
                <input type="text" placeholder="Your message" id="message">
                <button type="submit" class="send">Send</button>
            </form>
        </div>
        <script src="https://smtpjs.com/v3/smtp.js"></script>
        <script>
            function sendEmail(){
                Email.send({
                    Host : "smtp.gmail.com",
                    Username : "uhealth961@gmail.com",
                    Password : "jnsjecdikyenrvzc",
                    To : "uhealth961@gmail.com",
                    From : document.getElementById("email").value,
                    Subject : "New contact form message",
                    Body : "First name: " + document.getElementById("firstname").value + "<br>" + "Last name: " + document.getElementById("lastname").value + "<br>" + "Email: " + document.getElementById("email").value + "<br>" + "Message: " + document.getElementById("message").value
                }).then(
                message => alert(message)
                )
                            }
            function notification(){
                window.alert("Your message has been sent successfully");
            }
        </script>
    </div>

    <br><br>
    <footer>
        <div class="titrefooter">
            <h1 class="h1footer">U Health</h1>
        </div>
        <div>
            <a href="https://www.facebook.com" target="_blank" class="fa fa-facebook"></a>
            <a href="https://www.twitter.com" class="fa fa-twitter" target="_blank"></a>
            <a href="https://www.instagram.com/uhealth961?igshid=YmMyMTA2M2Y=" target="_blank" class="fa fa-instagram"></a>
            <a href="https://www.linkedin.com" target="_blank" class="fa fa-linkedin"></a> 
            <a href="https://www.youtube.com" target="_blank" class="fa fa-youtube"></a> 
            <a href="mailto:uhealth961@gmail.com" target="_blank" class="fa fa-google"></a>
            <a href="tel:+96176898258" target="_blank" class="fa fa-phone"></a>
        </div>
        <div>
            <p align="center" style="font-size: 20px; color: gray;">USJ - ESIB<br>Mar Roukoz Street<br>Mar Roukouz Et Dahr El Hssaine Mount Lebanon, 22245</p>
            <p align="center"><em>&copy; Copyright 2022 UHealth</em></p>
        </div>
    </footer>

</body>

</html>