<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emergency Tutorial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='emergency.css' ) }}">
</head>

<body>
    <header>
        <h1 class="title">U Health</h1>
        <nav>
            <ul>
                <li><a href="uhealth.html">Home</a></li>
                <li><a href="contact-us2.html" >Contact Us</a></li>
                <li><a href="homepage.html" ><img src="{{ url_for('static', filename='logout.png' ) }}" width="45px" height="45px"></a></li>
            </ul>
        </nav>
        <div class="header2">
            <h1 class="contacttitle">Emergency Tutorials</h1>
        </div>
    </header>

    <div class="plots">
        <div class="div1"><a href="https://www.youtube.com/watch?v=UFvL7wTFzl0&list=PLvd0isBh6beQJ1YrlssqzKoXY_aw-qvoW&index=1"><h1 align="center" style="color: white;">How to Use a Defibrillator (AED)</h1></a></div>
        <div class="div2"><a href="https://www.youtube.com/watch?v=Ovsw7tdneqE&list=PLvd0isBh6beQJ1YrlssqzKoXY_aw-qvoW&index=2"><h1 align="center" style="color: #00BFFF;">What To Do If Someone Has A Seizure </h1></a></div>
        <div class="div1"><a href="https://www.youtube.com/watch?v=PhH9a0kIwmk&list=PLvd0isBh6beQJ1YrlssqzKoXY_aw-qvoW&index=4"><h1 align="center" style="color: white;">What To Do If Someone Has A Stroke </h1></a></div>
        <div class="div2"><a href="https://www.youtube.com/watch?v=b2ieb8BZJuY&list=PLvd0isBh6beQJ1YrlssqzKoXY_aw-qvoW&index=8"><h1 align="center" style="color: #00BFFF;">How To Treat Poisoning </h1></a></div>
        <div class="div1"><a href="https://www.youtube.com/watch?v=Uqy2IUhYkVA&list=PLvd0isBh6beQJ1YrlssqzKoXY_aw-qvoW&index=9"><h1 align="center" style="color: white;">What To Do If Someone Has A Spinal Cord Injury</h1></a></div>
        <div class="div2"><a href="https://www.youtube.com/watch?v=2v8vlXgGXwE&list=PLvd0isBh6beQJ1YrlssqzKoXY_aw-qvoW&index=10"><h1 align="center" style="color: #00BFFF;">How To Treat A Fracture </h1></a></div>
        <div class="div1"><a href="https://www.youtube.com/watch?v=oswDpwzbAV8&list=PLvd0isBh6beQJ1YrlssqzKoXY_aw-qvoW&index=11"><h1 align="center" style="color: white;">What to do if Your Baby is Choking </h1></a></div>
        <div class="div2"><a href="https://www.youtube.com/watch?v=CcQZRDcGZpE&list=PLvd0isBh6beQJ1YrlssqzKoXY_aw-qvoW&index=15"><h1 align="center" style="color: #00BFFF;">If Your Baby has a Seizure </h1></a></div>
    </div>
    <div class="plots2">
        <div class="div3"><a href="https://www.youtube.com/watch?v=dU8ITYu7mZ0&list=PLvd0isBh6beQJ1YrlssqzKoXY_aw-qvoW&index=16"><h1 align="center" style="color: white;">If Your Baby has a Dislocated Joint</h1></a></div>
        <div class="div4"><a href="https://www.youtube.com/watch?v=nHgYfqDIvCo&list=PLvd0isBh6beQJ1YrlssqzKoXY_aw-qvoW&index=18"><h1 align="center" style="color: #00BFFF;">What to do if Your Baby has Fever </h1></a></div>
        <div class="div3"><a href="https://www.youtube.com/watch?v=v1YrU55ACbE&list=PLvd0isBh6beQJ1YrlssqzKoXY_aw-qvoW&index=20"><h1 align="center" style="color: white;">What to do if your Baby is Drowning </h1></a></div>
        <div class="div4"><a href="https://www.youtube.com/watch?v=2cBhgvOEplw&list=PLvd0isBh6beQJ1YrlssqzKoXY_aw-qvoW&index=22"><h1 align="center" style="color: #00BFFF;">What to do if your Baby has a Serious Fall</h1></a></div>
        <div class="div3"><a href="https://www.youtube.com/watch?v=faLkXDXrhnM&list=PLvd0isBh6beQJ1YrlssqzKoXY_aw-qvoW&index=28"><h1 align="center" style="color: white;">How to Treat Fever</h1></a></div>
        <div class="div4"><a href="https://www.youtube.com/watch?v=gDwt7dD3awc&list=PLvd0isBh6beQJ1YrlssqzKoXY_aw-qvoW&index=29"><h1 align="center" style="color: #00BFFF;">How to Treat a Heart Attack </h1></a></div>
        <div class="div3"><a href="https://www.youtube.com/watch?v=avYRvVHAvfM&list=PLvd0isBh6beQJ1YrlssqzKoXY_aw-qvoW&index=30"><h1 align="center" style="color: white;">How to Give Baby CPR </h1></a></div>
        <div class="div4"><a href="https://www.youtube.com/watch?v=ea1RJUOiNfQ&list=PLvd0isBh6beQJ1YrlssqzKoXY_aw-qvoW&index=31"><h1 align="center" style="color: #00BFFF;">How to do the Primary Survey </h1></a></div>
    </div>
    <div class="plots3">
        <div class="div5"><a href="https://www.youtube.com/watch?v=hdVKpUR513M&list=PLvd0isBh6beQJ1YrlssqzKoXY_aw-qvoW&index=32"><h1 align="center" style="color: white;">How to Treat an Asthma Attack</h1></a></div>
        <div class="div6"><a href="https://www.youtube.com/watch?v=a4cIFZx1f2E&list=PLvd0isBh6beQJ1YrlssqzKoXY_aw-qvoW&index=33"><h1 align="center" style="color: #00BFFF;">Head Injury Symptoms </h1></a></div>
        <div class="div5"><a href="https://www.youtube.com/watch?v=NxO5LvgqZe0&list=PLvd0isBh6beQJ1YrlssqzKoXY_aw-qvoW&index=35"><h1 align="center" style="color: white;">How to Treat Severe Bleeding </h1></a></div>
        <div class="div6"><a href="https://www.youtube.com/watch?v=ddHKwkMwNyI&list=PLvd0isBh6beQJ1YrlssqzKoXY_aw-qvoW&index=36"><h1 align="center" style="color: #00BFFF;">Fainting Causes & Treatment</h1></a></div>
        <div class="div5"><a href="https://www.youtube.com/watch?v=PznZR-qpWG8&list=PLvd0isBh6beQJ1YrlssqzKoXY_aw-qvoW&index=37"><h1 align="center" style="color: white;">Headache Causes & Treatment</h1></a></div>
        <div class="div6"><a href="https://www.youtube.com/watch?v=61urGQrmeNM&list=PLvd0isBh6beQJ1YrlssqzKoXY_aw-qvoW&index=38"><h1 align="center" style="color: #00BFFF;">How to Treat Shock</h1></a></div>
        <div class="div5"><a href="https://www.youtube.com/watch?v=DXo5hmiFQmQ&list=PLvd0isBh6beQJ1YrlssqzKoXY_aw-qvoW&index=41"><h1 align="center" style="color: white;">How to Treat Dehydration </h1></a></div>
        <div class="div6"><a href="https://www.youtube.com/watch?v=PHrrxe3p8vw&list=PLvd0isBh6beQJ1YrlssqzKoXY_aw-qvoW&index=42"><h1 align="center" style="color: #00BFFF;">How to Treat An Eye Injury </h1></a></div>
    </div>
    <div class="plots4">
        <div class="div7"><a href="https://www.youtube.com/watch?v=PwfBGkBXkFA&list=PLvd0isBh6beQJ1YrlssqzKoXY_aw-qvoW&index=45"><h1 align="center" style="color: white;">How to Make A Sling</h1></a></div>
        <div class="div8"><a href="https://www.youtube.com/watch?v=gn6xt1ca8A0&list=PLvd0isBh6beQJ1YrlssqzKoXY_aw-qvoW&index=46"><h1 align="center" style="color: #00BFFF;">HHow to Use your First Aid Kit & Contents</h1></a></div>
        <div class="div7"><a href="https://www.youtube.com/watch?v=fKzdiuseEIw&list=PLvd0isBh6beQJ1YrlssqzKoXY_aw-qvoW&index=47"><h1 align="center" style="color: white;">How to Bandage A Hand </h1></a></div>
        <div class="div8"><a href="https://www.youtube.com/watch?v=0jps5SZlTdo&list=PLvd0isBh6beQJ1YrlssqzKoXY_aw-qvoW&index=48"><h1 align="center" style="color: #00BFFF;">How to Bandage A Sprain</h1></a></div>
        <div class="div7"><a href="https://www.youtube.com/watch?v=rXlttZOEpLo&list=PLvd0isBh6beQJ1YrlssqzKoXY_aw-qvoW&index=49"><h1 align="center" style="color: white;">How to Treat Hyperventilation</h1></a></div>
        <div class="div8"><a href="https://www.youtube.com/watch?v=4e7evinsfm0&list=PLvd0isBh6beQJ1YrlssqzKoXY_aw-qvoW&index=51"><h1 align="center" style="color: #00BFFF;">How to Treat Cuts and Grazes</h1></a></div>
        <div class="div7"><a href="https://www.youtube.com/watch?v=PmmhxW0vVXA&list=PLvd0isBh6beQJ1YrlssqzKoXY_aw-qvoW&index=52"><h1 align="center" style="color: white;">How to Treat Nose Bleeds </h1></a></div>
        <div class="div8"><a href="https://www.youtube.com/watch?v=u0sLzfq_w9s&list=PLvd0isBh6beQJ1YrlssqzKoXY_aw-qvoW&index=53"><h1 align="center" style="color: #00BFFF;">How to Treat a Sunburn </h1></a></div>
    </div>

</body>

</html>